@model IEnumerable<_07192024_s5_progetto.Models.Verbale>

@{
    ViewData["Title"] = "Violazioni importo totale > 400";
}

<h1>Violazioni importo totale > 400</h1>

@foreach (var item in Model)
{
    <h3>Dati Anagrafici</h3>
    <p>Nome: @item.Anagrafica.Nome</p>
    <p>Cognome: @item.Anagrafica.Cognome</p>
    <hr />
    <hr />
    <h3>Dati Verbale</h3>
    <p>Verbale N° @item.Id</p>
    <p>Data violazione @item.DataViolazione</p>
    <p>Importo: @item.Importo</p>
    <p>Punti decurtati: @item.DecurtamentoPunti</p>
}

<div>
    <a asp-action="Index">Torna alla home</a>
</div>