@model IEnumerable<_08022024_s7_progetto.DataModels.Product>

@{
    ViewData["Title"] = "Lista prodotti";
}

<div class="text-center">
    <h1 class="display-4">Lista prodotti</h1>
    <a asp-action="CreateProduct" class="btn btn-primary">Aggiungi nuovo prodotto</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Tempo di consegna</th>
            <th>Ingredienti</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price <strong>€</strong></td>
                    <td>@product.DeliveryTimeInMinutes <strong>min</strong></td>
                    <td>
                        @if (product.Ingredients != null && product.Ingredients.Any())
                        {
                            <ul>
                                @foreach (var ingredient in product.Ingredients)
                                {
                                    <li>
                                        @ingredient.Name
                                        <form asp-action="RemoveIngredientFromProduct" method="post" style="display:inline;">
                                            <input type="hidden" name="productId" value="@product.ProductID" />
                                            <input type="hidden" name="ingredientId" value="@ingredient.IngredientID" />
                                            <input type="submit" value="X" class="btn btn-danger btn-sm" />
                                        </form>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <p>Nessun ingrediente associato</p>
                        }
                    </td>
                    <td>
                        <a asp-action="EditProduct" asp-route-id="@product.ProductID" class="btn btn-warning btn-sm">Modifica</a>
                        <a asp-action="DeleteProduct" asp-route-id="@product.ProductID" class="btn btn-danger btn-sm">Elimina</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <p>Nessun prodotto presente</p>
        }

    </tbody>
</table>

